process {
    withName:runfastQC {
        container = 'quay.io/biocontainers/fastqc:0.11.8--1'
    }
    withName:runMultiQC {
        container = 'quay.io/biocontainers/multiqc:1.7--py_4'
    }
    withName:runTrimGalore {
        container = 'quay.io/biocontainers/trim-galore'
    }  
    withName:runHydra {
        container = 'docker://alfredug/quasitools'
    }
    withName:runSierralocal {
        container = 'docker://alfredug/sierralocal'
    }
    withName:renderReport {
        container = 'docker://alfredug/rbase'
}
